<launch>

	<!--
	With my current setup, left is motor 1 and backwards. right is motor 2 and forward
	-->
	
	<arg name="motor_num" default="1" />
	<arg name="backwards" default="True" />
	<arg name="white_pin" default="13" />
	<arg name="yellow_pin" default="11" />
	
	<!-- encoder -->
	<node pkg="motor_driver" type="motor_encoder" name="motor_encoder">
		<param name="white_pin" value="$(arg white_pin)" />
		<param name="yellow_pin" value="$(arg yellow_pin)" />
		<param name="backwards" value="$(arg backwards)" />
	</node>
	

	<!-- driver -->
	<node pkg="motor_driver" type="motor_driver" name="motor_driver">
		<param name="motor_num" value="$(arg motor_num)" />
		<param name="backwards" value="$(arg backwards)" />
	</node>	

</launch>
