<?xml version="1.0"?>
<model>
  <name>ADAM</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Brian Keatin</name>
   <email>brikeats@gmail.com</email>
  </author>

  <description>
    My first robot. Differential drive, array of ultrasonic sensors, kinect on pan-tilt.
  </description>
</model>
