 <launch>

    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" >
        <param name="video_device" value="/dev/video1" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap"/>
      </node>
  

    <!-- The AR package does rectification, so can pass raw image frames -->
    
    <arg name="marker_size" default="3.2" />
    <arg name="max_new_marker_error" default="0.08" />
    <arg name="max_track_error" default="0.2" />
    <arg name="cam_image_topic" default="/image_raw" />
    <arg name="cam_info_topic" default="/camera_info" />    
    <arg name="output_frame" default="/camera" />
    <arg name="frame_rate" default="30" />


    <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame) $(arg frame_rate)" />

    
    <node name="marker_on_image" pkg="marker_viz" type="marker_on_image">
        <remap from="image_in" to="/image_raw" />
        <remap from="image_out" to="/marker_image" />
        <remap from="marker" to="/ar_pose_marker" />
        <param name="marker_size" value="$(arg marker_size)" />
    </node>
    

    <node pkg="rqt_gui" type="rqt_gui" name="rqt_gui"/>


</launch>
