  
 <launch>

    <!-- start the kinect -->
    <include file="$(find openni_launch)/launch/openni.launch"/>


    <!-- The AR package does rectification, so can pass raw image frames -->
    <arg name="marker_size" default="3.2" />
    <arg name="max_new_marker_error" default="0.08" />
    <arg name="max_track_error" default="0.2" />
    <arg name="cam_image_topic" default="/camera/rgb/image_raw" />
    <arg name="cam_info_topic" default="/camera/rgb/camera_info" />    
    <arg name="output_frame" default="/camera_rgb_optical_frame" />
    <arg name="frame_rate" default="30" />


    <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame) $(arg frame_rate)" />

    
    <node name="marker_on_image" pkg="marker_viz" type="marker_on_image">
        <remap from="image_in" to="$(arg cam_image_topic)" />
        <remap from="camera_info" to="$(arg cam_info_topic)" />
        <remap from="image_out" to="/marker_image" />
        <remap from="marker" to="/ar_pose_marker" />
        <param name="marker_size" value="$(arg marker_size)" />
    </node>

    
    <node name="servo_driver" pkg="servo_driver" type="maestro_driver"/>

    <node name="pan_tilt" pkg="pan_tilt" type="pan_tilt">
        <param name="pan_pin" value="1" />
        <param name="tilt_pin" value="0" />
        <remap from="marker" to="/ar_pose_marker" />
    </node>

    
    <node pkg="rqt_gui" type="rqt_gui" name="rqt_gui"/>
    
</launch>
