
<launch>

  <arg name="left_motor_num" default="1" />
	<arg name="left_motor_backwards" default="True" />
	<arg name="right_motor_num" default="2" />
	<arg name="right_motor_backwards" default="False" />
	<arg name="base_width" default="0.2" />  <!-- TODO: get base_width from adam_description -->
	
	<!-- left motor -->
	<node pkg="motor_driver" type="motor_driver" name="left_motor_driver">
		<param name="motor_num" value="$(arg left_motor_num)" />
		<param name="backwards" value="$(arg left_motor_backwards)" />
		<remap from="motor_effort" to="left_motor_effort"/>
	</node>	

	<!-- right motor -->
	<node pkg="motor_driver" type="motor_driver" name="right_motor_driver">
		<param name="motor_num" value="$(arg right_motor_num)" />
		<param name="backwards" value="$(arg right_motor_backwards)" />
		<remap from="motor_effort" to="right_motor_effort"/>
	</node>	

	<node pkg="differential_drive" type="twist_to_motors.py" name="twist_to_motors">
		<param name="base_width" value="$(arg base_width)" />
		<remap from="rwheel_vtarget" to="right_motor_effort"/>
		<remap from="lwheel_vtarget" to="left_motor_effort"/>
	</node>

</launch>