
<launch>

	<arg name="Kp" default="10"/>
	<arg name="Ki" default="10"/>
	<arg name="Kd" default="0.01"/>

	<group ns="left_wheel">

		<!-- Motor driver -->
		<include file="$(find motor_driver)/launch/motor.launch">
			<arg name="motor_num" value="1" />
			<arg name="backwards" value="True" />
			<arg name="white_pin" value="13" />
			<arg name="yellow_pin" value="11" />
		</include>

		<!-- PID controller -->
		<node pkg="differential-drive" type="pid_velocity.py" name="motor_controller">
			<param name="Kp" value="$(arg Kp)" />
			<param name="Ki" value="$(arg Ki)" />
			<param name="Kd" value="$(arg Kd)" />
			<param name="out_min" value="-100" />
			<param name="out_max" value="100" />
			<param name="timeout_ticks" value="100000" />
			
			<!--If no wheel_vtarget messages are received in timeout_ticks / rate seconds the wheels are stopped. -->
			<remap from="motor_cmd" to="motor_effort"/>
		</node>
		

	</group>


	<group ns="right_wheel">
	
		<include file="$(find motor_driver)/launch/motor.launch">
			<arg name="motor_num" value="2" />
			<arg name="backwards" value="False" />
			<arg name="white_pin" value="1" />
			<arg name="yellow_pin" value="4" />
		</include>

		<node pkg="differential-drive" type="pid_velocity.py" name="motor_controller">
			<param name="Kp" value="$(arg Kp)" />
			<param name="Ki" value="$(arg Ki)" />
			<param name="Kd" value="$(arg Kd)" />
			<param name="out_min" value="-100" />
			<param name="out_max" value="100" />
			<remap from="motor_cmd" to="motor_effort"/>
		</node>

	</group>

</launch>